# Игнорирование IDE-файлов
.idea/
.ipynb_checkpoints/

# Игнорирование виртуальной среды
.venv/

# Игнорирование скомпилированных Python-файлов
__pycache__/
*.pyc

# Игнорирование базы данных Chroma
chroma_db_med/

# Игнорирование очищенных текстовых файлов
cleaned_60189970.txt

# Игнорирование файла с переменными окружения
.env